# fly.toml app configuration file generated for hrvxo-music on 2026-02-10T21:04:51+11:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'hrvxo-music'
primary_region = 'syd'

[build]

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
